
/* css */
/* css for html design */
.h1 {
	font-family: Showcard Gothic;
	text-align: center;
	font-size: 3em;
	padding: 1em;
}

.h2 {
	font-family: Showcard Gothic;
}

.tasklistitems {
	font-family: Calibri;
	/*padding-left: 1em;*/
	font-size: 1.8em;
	/*padding-top: .7em;*/
}

#emptyboxtest {
	width: 33px;
	height: 33px;
	border: 1px solid blue;
}
/*task 1 buttons */
#task1but0orange {
	top: 10px;
	left: 100px;
	width: 50px;
	height: 50px;
}

#task1but0red {
	top: 10px;
	left: 200px;
	width: 50px;
	height: 50px;
}

#task1but3 {
	top: 10px;
	left: 300px;
	width: 50px;
	height: 50px;
}

#task1but42 {
	top: 10px;
	left: 400px;
	width: 50px;
	height: 50px;
}

#task1butregister {
	top: 10px;
	left: 500px;
	width: 50px;
	height: 50px;
}

#correcttask1butx {
	top: 10px;
	left: 600px;
	width: 50px;
	height: 50px;
}

.task1_fakeBtn {
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid grey;
}

.task1_correctBtn {
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid blue;
}

/* task 2 buttons */

#correcttask2option1 {
	top: 100px;
	left: 100px;
	width: 50px;
	height: 50px;
}

#task2option2 {
	top: 100px;
	left: 200px;
	width: 50px;
	height: 50px;
}
#task2option3 {
	top: 100px;
	left: 300px;
	width: 50px;
	height: 50px;
}

#task2option4 {
	top: 100px;
	left: 400px;
	width: 50px;
	height: 50px;
}

#task2departments {
	top: 100px;
	left: 500px;
	width: 50px;
	height: 50px;
}

#task2inspiration {
	top: 100px;
	left: 600px;
	width: 50px;
	height: 50px;
}

#task2classes {
	top: 100px;
	left: 700px;
	width: 50px;
	height: 50px;
}

#task2search {
	top: 100px;
	left: 800px;
	width: 50px;
	height: 50px;
}

.task2_fakeBtn {
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid grey;
}

.task2_correctBtn {
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid blue;
}


/* task 3 buttons */

#task3butx {
	top: 200px;
	left: 100px;
	width: 50px;
	height: 50px;
}

#task3butregister {
	top: 200px;
	left: 200px;
	width: 50px;
	height: 50px;
}

#task3but6monfreetrial {
	top: 200px;
	left: 300px;
	width: 50px;
	height: 50px;
}

#correcttask3butaudit {
	top: 200px;
	left: 400px;
	width: 50px;
	height: 50px;
}

.task3_fakeBtn {
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid grey;
}

.task3_correctBtn {
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid blue;
}

/*I'm over it button */
#imoverit {
	color: purple;
}

#imoveritmessage {
	position: absolute;
	display: block;
	border: 2px solid black;
	height: 400px;
	width: 500px;
}

/* task list check box code */
.task1emptybox {
	top: 300px;
	left: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: -999999;
	border: 2px solid green;
}

.task2emptybox {
	top: 300px;
	left: 200px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid green;
}

.task3emptybox {
	top: 300px;
	left: 300px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid green;
}

.checkmarktask1 {
	top: 300px;
	left: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 1000;
	border: 2px solid yellow;
}

#checkmarktask2 {
	top: 300px;
	left: 500px;
	width: 50px;
	height: 50px;
}

#checkmarktask3 {
	top: 300px;
	left: 400px;
	width: 50px;
	height: 50px;
}

.errorDisplay {
	color: blue;
}
/*playing around*/
.checkmarktest {
	background-image: url(https://line9communities.files.wordpress.com/2014/02/check-mark.jpg);
	width: 50px;
	height: 50px;
	z-index: 999999;
	border: 2px solid blue;
	fill: blue;
}

.blankwhite {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 999999;
	background-color: white;
	border: 2px solid purple;
	top: 1000px;
	left: 1000px;
}

.imageposition {
	position: absolute;
	top: 1000px;
	left: 1000px;
	width: 50px;
	height: 50px;
	border: 2px solid purple;
}
#thisisthetest {

}

.checkname {
	width: 50px;
	height: 50px;
}

#turtleid {
	color: blue;
}
/*
.impossibletitle {
  font-family: Showcard Gothic;
  text-align: center;
  color: #392f5a;
}

.gamepane {
  align-items: center;
}

.messageboardtitle {
  font-family: Showcard Gothic;
  color: #392f5a;
  text-align: center;
}

.messageboardtext {
  font-family: Calibri;
  color: #392f5a;
  text-align: left;
}

.overit {
  border: none;
  color: white;
  background-color: #392f5a;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Showcard Gothic;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*
body{
  color: #2e5266;
  font-family: Corbel, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}

.grayband{
  background-color: #d3d0cb;
  padding-top: 2em;
  padding-bottom: 2em;
}

.whiteband{
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  text-align: center;
  font-size: 7em;
  font-weight: 500;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.piechart{
  padding-left: 50px;
}

.yaleimage{
  padding-top: 90px;
  padding-left: 80px;
}
*/
