
/* css */
/* css for html design */
.h1 {
	font-family: Showcard Gothic;
	text-align: center;
	font-size: 3em;
	padding: 1em;
}

.h2 {
	font-family: Showcard Gothic;
}

.tasklistitems {
	font-family: Calibri;
	/*padding-left: 1em;*/
	font-size: 1.8em;
	/*padding-top: .7em;*/
}

.errorDisplay {
	color: #392f5a;
	font-family: Showcard Gothic;
	font-size: 1.8em;
	position: absolute;
	top: 212px;
	left: 180px;
}
/*
#emptyboxtest {
	width: 33px;
	height: 33px;
	border: 1px solid blue;
}
*/
/*task 1 buttons */
#task1but0orange {
	top: 172px;
	left: 354px;
	width: 23px;
	height: 23px;
}

#task1but0red {
	top: 172px;
	left: 372px;
	width: 23px;
	height: 23px;
}

#task1but3 {
	top: 172px;
	left: 390px;
	width: 23px;
	height: 23px;
}

#task1but42 {
	top: 172px;
	left: 408px;
	width: 23px;
	height: 23px;
}

#correcttask1butregister {
	top: 218px;
	left: 242px;
	width: 165px;
	height: 33px;
}

#task1butx {
	top: 38px;
	left: 415px;
	width: 10px;
	height: 10px;
}

.task1_fakeBtn {
	position: relative;
	display: block;
	z-index: 10;
	border: 2px solid grey;
}

.task1_correctBtn {
	position: relative;
	display: block;
	z-index: 10;
	border: 2px solid blue;
}

/* task 2 buttons */

#correcttask2option1 {
	top: 188px;
	left: -185px;
	width: 15px;
	height: 15px;
}

#task2option2 {
	top: 207px;
	left: 75px;
	width: 15px;
	height: 15px;
}
#task2option3 {
	top: 227px;
	left: 60px;
	width: 15px;
	height: 15px;
}

#task2option4 {
	top: 247px;
	left: 45px;
	width: 15px;
	height: 15px;
}

#task2departments {
	top: 37px;
	left: 20px;
	width: 75px;
	height: 19px;
}

#task2inspiration {
	top: 37px;
	left: 82px;
	width: 65px;
	height: 19px;
}

#task2classes {
	top: 37px;
	left: 121px;
	width: 50px;
	height: 19px;
}

#task2search {
	top: -12px;
	left: 358px;
	width: 24px;
	height: 24px;
}

.task2_fakeBtn {
	position: relative;
	display: block;
	z-index: 10;
	border: 2px solid grey;
}

.task2_correctBtn {
	position: relative;
	display: block;
	z-index: 10;
	border: 2px solid blue;
}


/* task 3 buttons */

#task3butx {
	top: 200px;
	left: 100px;
	width: 50px;
	height: 50px;
}

#task3butregister {
	top: 200px;
	left: 200px;
	width: 50px;
	height: 50px;
}

#task3but6monfreetrial {
	top: 200px;
	left: 300px;
	width: 50px;
	height: 50px;
}

#correcttask3butaudit {
	top: 200px;
	left: 400px;
	width: 50px;
	height: 50px;
}

.task3_fakeBtn {
	position: relative;
	display: block;
	z-index: 10;
	border: 2px solid grey;
}

.task3_correctBtn {
	position: relative;
	display: block;
	z-index: 10;
	border: 2px solid blue;
}

/*I'm over it button */
#imoverit {
	color: #ffffff;
	background-color:#392f5a;
	font-family: Showcard Gothic;
	border: #392f5a;
	text-align: center;
}

#imoveritmessage {
	position: absolute;
	display: block;
	border: 2px solid black;
	height: 400px;
	width: 500px;
}

/* task list check box code */
#task1emptybox {
	top: 48px;
	left: -42px;
}

.blankwhite {
	position: absolute;
	width: 35px;
	height: 35px;
	z-index: 999999;
	background-color: white;
	border: 2px solid black;
	top: 48px;
	left: -42px;
}

.imageposition1 {
	position: absolute;
	z-index: 999998;
	top: 48px;
	left: -42px;
	width: 35px;
	height: 35px;
	border: 2px solid black;
}




#task2emptybox {
	top: 100px;
	left: -42px;
}

.blankwhite2 {
	position: absolute;
	width: 35px;
	height: 35px;
	z-index: 999999;
	background-color: white;
	border: 2px solid black;
	top: 100px;
	left: -42px;
}

.imageposition2 {
	position: absolute;
	z-index: 999998;
	top: 100px;
	left: -42px;
	width: 35px;
	height: 35px;
	border: 2px solid black;
}




#task3emptybox {
	top: 160px;
	left: -42px;
}

.blankwhite3 {
	position: absolute;
	width: 35px;
	height: 35px;
	z-index: 999999;
	background-color: white;
	border: 2px solid black;
	top: 160px;
	left: -42px;
}


.imageposition3 {
	position: absolute;
	z-index: 999998;
	top: 160px;
	left: -42px;
	width: 35px;
	height: 35px;
	border: 2px solid black;
}

/*image display code*/
#image1task1 {
	z-index: 4;
	position: absolute;
}

#image2task2 {
	z-index: 3;
	position: absolute;
}

#image3task3 {
	z-index: 2;
	position: absolute;
}

#youwon {
	z-index: 1;
	position: absolute;
}

/* top: 300px;
left: 100px;
width: 50px;
height: 50px;
position: absolute;
display: block;
z-index: -999999;
border: 2px solid green; */
/*
.task2emptybox {
	top: 300px;
	left: 200px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid green;
}

.task3emptybox {
	top: 300px;
	left: 300px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 10;
	border: 2px solid green;
}
*/
/*
.checkmarktask1 {
	top: 300px;
	left: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 1000;
	border: 2px solid yellow;
}
*/
/*
#checkmarktask2 {
	top: 300px;
	left: 500px;
	width: 50px;
	height: 50px;
}

#checkmarktask3 {
	top: 300px;
	left: 400px;
	width: 50px;
	height: 50px;
}
*/

/*playing around*/
/*
.checkmarktest {
	background-image: url(https://line9communities.files.wordpress.com/2014/02/check-mark.jpg);
	width: 50px;
	height: 50px;
	z-index: 999999;
	border: 2px solid blue;
	fill: blue;
}

.imageposition {
	position: absolute;
	z-index: 999998;
	top: 300px;
	left: 100px;
	width: 50px;
	height: 50px;
	border: 2px solid purple;
}
*/
/*
#thisisthetest {

}

.checkname {
	width: 50px;
	height: 50px;
}

#turtleid {
	color: blue;
}

.impossibletitle {
  font-family: Showcard Gothic;
  text-align: center;
  color: #392f5a;
}

.gamepane {
  align-items: center;
}

.messageboardtitle {
  font-family: Showcard Gothic;
  color: #392f5a;
  text-align: center;
}

.messageboardtext {
  font-family: Calibri;
  color: #392f5a;
  text-align: left;
}

.overit {
  border: none;
  color: white;
  background-color: #392f5a;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Showcard Gothic;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*
body{
  color: #2e5266;
  font-family: Corbel, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}

.grayband{
  background-color: #d3d0cb;
  padding-top: 2em;
  padding-bottom: 2em;
}

.whiteband{
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  text-align: center;
  font-size: 7em;
  font-weight: 500;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.piechart{
  padding-left: 50px;
}

.yaleimage{
  padding-top: 90px;
  padding-left: 80px;
}
*/
